.Main-chat
  .Main-chat__group-info
    .Main-chat__group-info__left-item
      .Main-chat__group-info__left-item__name
        = @group.name
      .Main-chat__group-info__left-item__member
        = "member :" 
        - @group.users.each do |user|
          = user.name
    .Main-chat__group-info__right-item
      = link_to edit_group_path(@group), class: "Main-chat__group-info__right-item__edit" do
        Edit

  .Main-chat__message-list
    .Main-chat__message-list__message-blank
    = render @messages
    

  .Main-chat__message-form
    .Form
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .Form__contents
          = f.text_field :content, class: 'Form__contents__input-tag', placeholder: 'type a message'
          = f.label :image, class: 'Form__contents__image' do
            = icon('far', 'image', class: 'image')
            = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'Form__submit'
        

        